.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.fornt-login{
  background-color: blueviolet;
  height: 230px;
  width: 340px;
  border-radius: 10px;
}

.name-login{
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  margin: 20px 0px 0px 20px;
}

.space{
  margin-top: 20px;
}

.input{
  padding: 5px;
  border-bottom: none;
  border: none;
}

.buttton{
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border-color: blueviolet;
  border: none;
  width: 100px;
}

.buttton:hover{
  opacity: 0.9;
}

.buttton:active{
  opacity: 0.6;
}